<md-content class="details md-whiteframe-1dp" layout="column" ng-cloak>
    <md-toolbar class="md-warn md-hue-2">
        <div class="md-toolbar-tools">
            <h2><span>To-Do List</span></h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-content layout-margin layout-padding>
        <form name=formData.form class="md-inline-form" ng-submit="addItem()">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input required name="addToDoText" ng-model="addToDoText" placeholder="I need to ...">
                    <div ng-messages="formData.form.addToDoText.$error" ng-show="formData.form.addToDoText.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <div flex hide-xs hide-sm></div>
                <md-button class="md-primary" type="submit" ng-disabled="formData.form.$invalid"> Add Item </md-button>
                <md-button class="md-warn" ng-click="deleteCompleted()"> Clear Completed </md-button>
            </div>
        </form>
        <md-list-item ng-repeat="item in list" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <md-divider ng-if="!$last"></md-divider>
            <md-checkbox class="md-warn" ng-model="item.state" ng-click="checkItem(item)" aria-label="Check box"></md-checkbox>
            <span class="done-{{item.state}}"> {{ item.text }} </span>
            <md-icon ng-show="hoverEdit" class="md-secondary" md-svg-src="images/clear.svg" aria-label="Delete" ng-click="deleteItem(item.id)"></md-icon>
        </md-list-item>
    </md-content>
</md-content>