<md-content class="grid md-whiteframe-1dp" ng-cloak>
    
    <md-toolbar>
        <div class="md-toolbar-tools">
            
            <h2><span>{{gridTitle}}</span></h2>
            
            <span flex></span>
            
            <md-button class="md-icon-button" ng-click="addRow()" aria-label="Add">
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
            
        </div>
    </md-toolbar>

    <div ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-infinite-scroll></div>
</md-content>
<br>
