<md-content class="grid md-whiteframe-1dp" ng-cloak>
    
    <md-toolbar class="md-warn md-hue-2">
        <div class="md-toolbar-tools">
            <h2><span>{{gridTitle}}</span></h2>
        </div>
    </md-toolbar>
    
    <md-fab-speed-dial id="tabMenu" md-direction="left" md-open="tabMenu.isOpen" class="md-scale md-fab-top-right" ng-class="{'md-hover-full': true}" ng-mouseenter="tabMenu.isOpen=true" ng-mouseleave="tabMenu.isOpen=false">
        <md-fab-trigger>
            <md-button id="menuFab" class="md-fab md-warn md-hue-2" aria-label="menu">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
                <md-icon md-font-set="material-icons">more_horiz</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="addRow()" aria-label="Add">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Add</md-tooltip>
                <md-icon md-font-set="material-icons" ng-style="{color: '#333'}">add</md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="editRow()" aria-label="Edit">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Edit</md-tooltip>
                <md-icon md-font-set="material-icons" ng-style="{color: '#333'}">create</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div ui-grid="gridOptions" ui-grid-selection class="grid" class="grid" ui-grid-resize-columns></div>
</md-content>
