.indexContent {
    background-size: cover;
    background-color: grey;
    background-image: url("/images/backgrounds/richardson-college_2K.jpg");
    color: #fff;
}


.indexContent a {
    color: white;
    margin-right: 10px;
}