<div flex class="indexContent" layout="row">
    <div class="transbox" hide-sm hide-xs flex="33" layout="row" layout-align="center center">
        <div layout-align="center center">
            <img src="images/logo.png" alt="University of Winnipeg Logo" />
            <h1 align="center">A.S.I.M.S</h1>
            <h4 align="center">Central Hub for Academic Staff Information</h4>
        </div>
    </div>
    <div flex layout="column" layout-align="center">
        <div class="loginForm" ui-view="login" layout="row" layout-align="center center"></div>
    </div>
</div>
