<md-toolbar class="nav-header md-whiteframe-1dp" layout="row" layout-align="space-between center" layout-padding>
    <a ui-sref="application.root">
        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">UW</span>
            <span class="logo-text">ASIMS</span>
        </div>
    </a>
</md-toolbar>

<md-list class="nav-content">
    <md-list-item ui-sref="application.regularStaff">
        <p>Regular Staff</p>
    </md-list-item>

    <md-list-item ui-sref="application.admin">
        <p>Admin</p>
    </md-list-item>
</md-list>