<md-toolbar class="nav-header md-hue-2 md-whiteframe-1dp" md-theme="light-grey" layout="row" layout-align="space-between center" layout-padding>
    <a ui-sref="application.root">
        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">UW</span>
            <span class="logo-text">ASIMS</span>
        </div>
    </a>
</md-toolbar>

<md-content md-theme="dark" layout="column">
    <md-list class="nav-content">
        <md-list-item ui-sref="application.regularStaff">
            <p>Regular Staff</p>
        </md-list-item>
        
        <md-list-item ui-sref="application.root">
            <p>Contract Staff</p>
        </md-list-item>
        
        <md-list-item ui-sref="application.root">
            <p>Department</p>
        </md-list-item>
        
        <md-list-item ui-sref="application.root">
            <p>Course</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ui-sref="application.admin">
            <md-icon md-font-set="material-icons md-18">supervisor_account</md-icon>
            <p>Admin</p>
        </md-list-item>
    </md-list>
</md-content>
