<!DOCTYPE html>
<html>
  <head>
    <title>Forbidden Page</title>
    <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
    <style>
      html,body{text-align:left;margin:0;padding:0;font-size:1em}
      body {background-color: #FFFFF2;}
      .error .main{display:block; position: fixed; top:52.7%; left:15%;}
      .error .top{color: #FA8072; font-size:2.5em;}
      .error h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:2.2em;color:#001c20;}
      .error h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.25em;color:#001c20;}
      .error a{color:#FA8072;  text-decoration:none;font-weight:normal;font-family:inherit}
      .error a:hover{color:#FF7256;}
    </style>
  </head>
  <body>
    <div class="error">
      <div class="main">
        <h1>
          <span class="top">Oh No... </span>This Page is Forbidden.
        </h1>
        <h2>
        	<% if (typeof error!== 'undefined') { %>
          <%= error %>
          <% } else { %>
          You don't have permission to see the page you're trying to reach.
          <% } %> <br/>
          You shouldn't be here without permission. Please head <a href=".">home</a>.
        </h2>
      </div>
    </div>
  </body>
</html>