<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
    <style>
      html,body{text-align:left;margin:0;padding:0;font-size:1em}
      body {background-color: #FFFFF2;}
      .error .main{display:block; position: fixed; top:52.7%; left:15%;}
      .error .top{color: #990000; font-size:2.5em;}
      .error h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:2.2em;color:#001c20;}
      .error h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.25em;color:#001c20;}
      .error a{color:#990000;  text-decoration:none;font-weight:normal;font-family:inherit}
      .error a:hover{color:#cc0000;}
    </style>
  </head>
  <body>
    <div class="error">
      <div class="main">
        <h1>
          <span class="top">Oops... </span>Page Not Found.
        </h1>
        <h2>
        	<% if (typeof error!== 'undefined') { %>
          <%= error %>
          <% } else { %>
          The page you are trying to reach doesn't exist.
          <% } %> <br/>
          Not sure how you ended up here but you should probably head <a href=".">home</a>.
        </h2>
      </div>
    </div>
  </body>
</html>
