<!DOCTYPE html>
<html>
  <head>
    <title>Server Error</title>
    <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
    <style>
    html,body{text-align:left;margin:0;padding:0;font-size:1em}
    body {background-color: #F5F5F5;}
    .error .main{display:block; position: fixed; top:52.7%; left:15%;}
    .error .top{color: #B71C1C; font-size:2.5em;}
    .error h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:2.2em;color:#001c20;}
    .error h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.25em;color:#001c20;}
    .error a{color:#B71C1C;  text-decoration:none;font-weight:normal;font-family:inherit}
    .error a:hover{color:#D50000;}
    .errorpage{padding-top:2em}
      </style>
    </head>
    <body>
    <div class="error">
      <div class="main">
        <h1>
          <span class="top">Yikes... </span>Internal Server Error
        </h1>
        <h2>
          Looks like something went wrong on our end. <a href=".">Reload</a> page or head <a href=".">home</a>. <br/>
          <% if (typeof error !== 'undefined') { %>
            <pre class="errorpage"><code>
          	  <%- error %>
            </code></pre>
          <% } else { %>
            <p class="errorpage">
              If the problem persists, please contact the system administrator.
            </p>
          <% } %>
        </h2>
      </div>
    </div>
  </body>
</html>
