<!DOCTYPE html>
<html ng-app="application">
    <head>
        <title>Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css">
        <!--STYLES END-->
    </head>
    <body>
        <div ui-view></div>
    </body>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="/app.js"></script>
    <script src="/components/admin/adminController.js"></script>
    <script src="/components/admin/adminService.js"></script>
    <script src="/components/auth/accessLevels.js"></script>
    <script src="/components/auth/auth.js"></script>
    <script src="/components/auth/currentUser.js"></script>
    <script src="/components/auth/localStorage.js"></script>
    <script src="/components/content/professor/professorController.js"></script>
    <script src="/components/details/detailsController.js"></script>
    <script src="/components/grid/gridController.js"></script>
    <script src="/components/grid/gridService.js"></script>
    <script src="/components/loginButton/loginButtonController.js"></script>
    <script src="/components/loginModal/loginModalController.js"></script>
    <script src="/components/loginModal/loginModalService.js"></script>
    <script src="/components/navigationBar/navigationBarController.js"></script>
    <script src="/components/tabset/tabsetController.js"></script>
    <!--SCRIPTS END-->
</html>