<!DOCTYPE html>
<html ng-app="application">
    <head>
        <title>Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.min.css">
        <link rel="stylesheet" href="/components/form/form.css">
        <link rel="stylesheet" href="/components/grid/grid.css">
        <link rel="stylesheet" href="/components/navLeftBar/navLeftBar.css">
        <link rel="stylesheet" href="/components/navRightBar/navRightBar.css">
        <link rel="stylesheet" href="/components/navTopBar/navTopBar.css">
        <link rel="stylesheet" href="/components/tabset/tabset.css">
        <link rel="stylesheet" href="/custom.css">
        <!--STYLES END-->
    </head>
    <body>
        <div ui-view></div>
    </body>
    <!--SCRIPTS-->
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-lodash-module/angular-lodash-module.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/app.js"></script>
    <script src="/components/navLeftBar/navLeftBarController.js"></script>
    <script src="/components/navLeftBar/navLeftBarLinkDirective.js"></script>
    <script src="/components/navLeftBar/navLeftBarService.js"></script>
    <script src="/components/navLeftBar/navLeftBarToggleDirective.js"></script>
    <script src="/components/admin/adminController.js"></script>
    <script src="/components/admin/adminService.js"></script>
    <script src="/components/anchorScroll/anchorScroll.js"></script>
    <script src="/components/auth/accessLevels.js"></script>
    <script src="/components/auth/auth.js"></script>
    <script src="/components/auth/currentUser.js"></script>
    <script src="/components/auth/localStorage.js"></script>
    <script src="/components/content/contractStaff/contractStaffController.js"></script>
    <script src="/components/content/contractStaff/contractStaffService.js"></script>
    <script src="/components/content/contractStaff/csTabService.js"></script>
    <script src="/components/content/contractStaff/tabs/csRTR.js"></script>
    <script src="/components/content/contractStaff/tabs/csTA.js"></script>
    <script src="/components/content/course/cTabService.js"></script>
    <script src="/components/content/course/courseController.js"></script>
    <script src="/components/content/course/courseService.js"></script>
    <script src="/components/content/department/dTabService.js"></script>
    <script src="/components/content/department/departmentController.js"></script>
    <script src="/components/content/department/departmentService.js"></script>
    <script src="/components/content/department/tabs/dChair.js"></script>
    <script src="/components/content/department/tabs/dCourse.js"></script>
    <script src="/components/content/regularStaff/regularStaffController.js"></script>
    <script src="/components/content/regularStaff/regularStaffService.js"></script>
    <script src="/components/content/regularStaff/rsTabService.js"></script>
    <script src="/components/content/regularStaff/tabs/rsDepartment.js"></script>
    <script src="/components/content/regularStaff/tabs/rsEmployment.js"></script>
    <script src="/components/content/regularStaff/tabs/rsRank.js"></script>
    <script src="/components/content/regularStaff/tabs/rsTA.js"></script>
    <script src="/components/content/research/rTabService.js"></script>
    <script src="/components/content/research/researchController.js"></script>
    <script src="/components/content/research/researchService.js"></script>
    <script src="/components/form/formController.js"></script>
    <script src="/components/form/formService.js"></script>
    <script src="/components/grid/gridController.js"></script>
    <script src="/components/loginButton/loginButtonController.js"></script>
    <script src="/components/loginModal/loginModalController.js"></script>
    <script src="/components/loginModal/loginModalService.js"></script>
    <script src="/components/navRightBar/navRightBarController.js"></script>
    <script src="/components/navTopBar/navTopBarController.js"></script>
    <script src="/components/profile/profileController.js"></script>
    <script src="/components/profile/profileService.js"></script>
    <script src="/components/report/leaveChart/leaveChartController.js"></script>
    <script src="/components/report/loadChart/loadChartController.js"></script>
    <script src="/components/report/reportController.js"></script>
    <script src="/components/report/reportService.js"></script>
    <script src="/components/search/searchHelper.js"></script>
    <script src="/components/tabset/tabsetController.js"></script>
    <script src="/components/theme/theme.js"></script>
    <script src="/components/toDoList/toDoListController.js"></script>
    <script src="/components/toDoList/toDoListService.js"></script>
    <script src="/components/toast/toastController.js"></script>
    <script src="/components/toast/toaster.js"></script>
    <script src="/components/validate/match.js"></script>
    <!--SCRIPTS END-->
</html>