<div flex layout="row" layout-padding>
    
    <md-content class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center" layout-padding layout-margin>
        <h1 class="md-display-3">360</h1>
    </md-content>
    
    <md-content class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center" layout-padding layout-margin>
        <h1 class="md-display-3">120</h1>
    </md-content>
    
    <md-content class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center" layout-padding layout-margin>
        <h1 class="md-display-3">58</h1>
    </md-content>
    
    <md-content class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center" layout-padding layout-margin>
        <h1 class="md-display-3">223</h1>
    </md-content>
    
</div>