.details {
    margin: 0.5em;
    border-radius: 0.2em;
}

#detailForm .md-datepicker-input,
.md-datepicker-triangle-button {
    display: none;
}

/*Remove native browser date picker*/
.noBrowserPicker::-webkit-inner-spin-button,
.noBrowserPicker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}