<br>
<div class="jumbotron">
    <div class="container">
        <div class="details-header">
            <button type="button" class="btn btn-default btn-xs pull-right" ng-show="gridOptions" ng-click="gotoElement('navbar')" aria-label="Go to top">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <h3>{{ detailsTitle }}</h3>
        </div>
        <div class="details-body">
            <form name="myForm" sf-schema="schema" sf-form="form" sf-model="model" sf-options="{formDefaults: {feedback: false}}" ng-submit="onSubmit(myForm)"></form>
        </div>
        <div class="details-footer">
            <button type="button" class="btn btn-primary" ng-hide="model.switch" ng-click="model.switch = !model.switch; gotoElement('details')">{{ btnTitle }}</button>
        </div>
    </div>
</div>
