<md-toolbar id="navbar" ui-view="navigationBar" layout="row"></md-toolbar>

<div layout="row">

    <md-sidenav class="md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex-gt-sm="20">
        <md-list>
            <!-- List item #1 -->
            <md-list-item>
                <md-button>
                    Lia Luogo
                </md-button>
            </md-list-item>
            <!-- List item #2 -->
            <md-list-item>
                <md-button>
                    Lawrence Ray
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content layout-margin flex>
        <ui-view></ui-view>
    </md-content>

</div>