<md-sidenav id="navbar-left" md-component-id="left">
    <div ui-view="navLeftBar"></div>
</md-sidenav>


<div flex layout="column">
    <div ui-view="navTopBar"></div>

    <div flex layout="row">
        <md-content id="content" flex layout-padding>
            <div ui-view></div>
        </md-content>

        <md-sidenav id="navbar-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" layout-margin>
            <div ui-view="navRightBar"></div>
        </md-sidenav>
    </div>
</div>
