<div flex layout="row">
<div flex ui-view="toDoList"></div>

	<div flex flex-order="-1" >
 		<!--<md-grid-list-->
	  <!--      md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"-->
	  <!--      md-row-height-gt-md="1:1" md-row-height="2:2"-->
	  <!--      md-gutter="12px" md-gutter-gt-sm="8px" >-->
	  <!--      <md-grid-tile class="red"-->
	  <!--          md-rowspan="2" md-colspan="2" md-colspan-sm="1">-->
	  <!--        <md-grid-tile-footer>-->
	  <!--          <h3>#5: (2r x 2c)</h3>-->
	  <!--        </md-grid-tile-footer>-->
	  <!--      </md-grid-tile>-->
	  <!--      <md-grid-tile class="green"-->
	  <!--          md-rowspan="2" md-colspan="2" md-colspan-sm="1">-->
	  <!--        <md-grid-tile-footer>-->
	  <!--        </md-grid-tile-footer>-->
	  <!--      </md-grid-tile>-->

	  <!--</md-grid-list> -->
	  <!--<div flex layout="column" layout-align="center center" class="userhome-pages">-->
	  <!--      <article class="userhome-page">-->
	  <!--      <i class="material-icons" md-96>search</i>-->
	  <!--    	<a class="userhome-page__button" href="/home/explore" target="_parent">Explore</a>-->
	  <!--        <p>Explore rooms, talk and ship.</p>-->
	  <!--      </article>-->
	  <!--      <article class="userhome-page">-->
	  <!--      <i class="material-icons" md-96>search</i>-->
	  <!--        <a class="userhome-page__button" href="/home#createroom" target="_parent">Create</a>-->
	  <!--        <p>Create and start something.</p>-->
	  <!--      </article>-->
	  <!--      <article class="userhome-page">-->
	  <!--      <i class="material-icons" md-96>search</i>-->
	  <!--        <a class="userhome-page__button" href="/home/learn" target="_parent">Learn</a>-->
	  <!--        <p>Learn about Gitter itself.</p>-->
	  <!--      </article>-->
	  <!--</div>-->

  <div>

</div>
