<div>
    <md-autocomplete
            md-input-name="{{input.name}}" 
            md-floating-label="{{input.label}}" 
            md-selected-item="fs.formData.model[input.name]" 
            md-search-text="fs.formData.model.searchText[input.name]"
            md-search-text-change="changeValue(input.change)"
            md-items="item in querySearch(fs.formData.model.searchText[input.name], input.url, input.output)" 
            md-item-text="item.name"
            md-min-length="1"
            md-no-cache="true"
            ng-disabled="{{input.disabled}}" 
            ng-required="{{input.required}}">
        <md-item-template>
            <!--The querySearch needs to be rewritten with promise-->
            <span md-highlight-text="fs.formData.model.searchText[input.name]" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          "{{fs.formData.model.searchText[input.name]}}" not found. <a ng-click="changeState(input.link)">Add New?</a>
        </md-not-found>
        <div ng-messages="fs.form[input.name].$error" ng-show="fs.form[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
    </md-autocomplete>

</div>