<div ng-controller="formController as ctrl">
    <md-autocomplete md-input-name="input.name" md-floating-label="{{input.label}}" md-selected-item="fs.formData.model[input.name]" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText, input.url, input.output)" md-item-text="item.name" ng-disabled="input.disabled" ng-required="input.required">
        <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <div ng-messages="fs.formData.form[input.name].$error" ng-show="fs.formData.form[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
    </md-autocomplete>
</div>