<div>
    <md-autocomplete
            md-input-name="{{input.name}}" 
            md-floating-label="{{input.label}}" 
            md-selected-item="fs.formData.model[input.name]" 
            md-selected-item-change="assignValue(input.assign)"
            md-search-text="fs.formData.model.searchText[input.name]"
            md-search-text-change="resetValue(input.reset)"
            md-items="item in querySearch(fs.formData.model.searchText[input.name], input.url, input.output)" 
            md-item-text="item.name"
            md-min-length="0"
            md-no-cache="true"
            ng-disabled="{{input.disabled}}" 
            ng-required="{{input.required}}"
            ng-readonly="input.readonly"
            md-menu-class="autocomplete-custom-template">
        <md-item-template>
            <span class="item-title">
                <span md-highlight-text="fs.formData.model.searchText[input.name]" md-highlight-flags="^i">
                    {{item.name}}
                </span>
            </span>
            <span class="item-metadata">
                <span class="item-metastat" ng-repeat="meta in item.meta">
                    <strong>{{meta.tag}}</strong> {{meta.name}}
                </span>
            </span>
        </md-item-template>
        <md-not-found ng-if="!loading">
            "{{fs.formData.model.searchText[input.name]}}" not found. <a ng-click="changeState(input.link)">Add New?</a>
        </md-not-found>
        <div ng-messages="fs.form[input.name].$error" ng-show="fs.form[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
        <md-tooltip md-direction="top" md-visible="tooltipVisible" ng-if="input.readonly">Read only</md-tooltip>
    </md-autocomplete>
</div>