<div id="dateInput" layout="row" layout-align="start center">
    <md-input-container class="md-block" flex>
        <label>{{input.label}}</label>
        <input type="date" class="noBrowserPicker"  name="{{input.name}}" ng-model="fs.formData.model[input.name]" ng-disabled="input.disabled" ng-required="input.required">
        <div ng-messages="navRightForm[input.name].$error" ng-show="navRightForm[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
    </md-input-container>
    <md-datepicker ng-model="fs.formData.model[input.name]"></md-datepicker>
</div>