<div ng-show="!fs.formData.isEditing || fs.formData.model.changePassword">
    <md-input-container class="md-block" flex>
        <label>{{input.label}}</label>
        <input type="password" name="{{input.name}}" ng-model="fs.formData.model[input.name]" ng-minlength="input.minLength" ng-disabled="input.disabled">
        <div ng-messages="fs.form[input.name].$error" ng-show="fs.form[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
    </md-input-container>
</div>