<div>
    <md-input-container class="md-block" flex>
        <label>{{input.label}}</label>
        <textarea name="{{input.name}}" ng-model="fs.formData.model[input.name]" md-maxlength="" rows="9" ng-disabled="input.disabled" ng-required="input.required" ng-readonly="input.readonly" md-no-autogrow></textarea>
        <div ng-messages="fs.form[input.name].$error" ng-show="fs.form[input.name].$touched">
            <div ng-messages-include="/components/validate/messages.html"></div>
        </div>
        <md-tooltip md-direction="top" md-visible="tooltipVisible" ng-if="input.readonly">Read only</md-tooltip>
    </md-input-container>
</div>