<div class="jumbotron">
    <h2> Profile </h2>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="sr-only">User:</span> {{ user.username }}
            </div>
            
            <div>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="sr-only">Email:</span> {{ user.email }}
            </div>
            
            <div>
                <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                <span class="sr-only">Role:</span> {{ user.role.role }}
            </div>
            <br>
            <button class="btn btn-primary" ng-click="openEditModal()">Edit</button>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>