.formContent {
    overflow-x: hidden;
}

#selectInput {
    height: 58px;
    margin: 18px 0;
}

#dateInput {
    height: 58px;
    margin: 18px 0;
}

#dateInput md-datepicker {
    height: 40px;
    width: 60px;
    margin-top: 0;
    margin-bottom: 14px;
}

#dateInput .md-datepicker-input,
.md-datepicker-triangle-button {
    display: none;
}

/*Remove native browser date picker*/
.noBrowserPicker::-webkit-inner-spin-button,
.noBrowserPicker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

md-input-container textarea[md-no-autogrow].md-input {
    height: inherit;
    overflow-y: auto;
}

.md-icon-button.md-warn.md-hue-2 {
    margin-top: 4px;
}

#changePassword .md-button {
    margin: 0 0 6px 0;
}