<div class="md-toolbar-tools">
    <md-button hide-gt-sm ng-click="toggleLeft()" aria-label="Sidebar">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </md-button>

    <h4 class="md-title" hide-xs><a ui-sref="application.root"> University of Winnipeg - ASIMS </a></h4>
    <h4 class="md-title" hide-gt-xs><a ui-sref="application.root"> U of W - ASIMS </a></h4>

    <span flex="5"></span>

    <md-button hide-sm hide-xs ui-sref="application.regularStaff"> Regular Staff </md-button>

    <span flex></span>

    <md-button hide-sm hide-xs ui-sref="application.admin"> Admin </md-button>
    <md-button hide-sm hide-xs ui-sref="application.profile"> Profile </md-button>
    <md-button hide-sm hide-xs class="md-raised" ng-click="logout()"> Logout </md-button>

    <md-menu md-position-mode="target-right target">
        <md-button hide-gt-sm ng-click="$mdOpenMenu($event)" aria-label="More">
            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
        </md-button>
        
        <md-menu-content width="3">
            <md-menu-item><md-button ui-sref="application.regularStaff"> Regular Staff </md-button></md-menu-item>
            <md-menu-item><md-button ui-sref="application.admin"> Admin </md-button></md-menu-item>
            <md-menu-item><md-button ui-sref="application.profile"> Profile </md-button></md-menu-item>
            <md-menu-item><md-button class="md-raised" ng-click="logout()"> Logout </md-button></md-menu-item>
        </md-menu-content>
    </md-menu>
</div>