.addButton {
    margin: 0.5em 1.1em 0.5em 0.5em;
}

.ui-grid-row.ui-grid-row-selected:hover .ui-grid-cell {
    cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /*margin-top: -23px; */
  /*margin-left: -23px;*/
}