<md-content class="details md-whiteframe-1dp" layout="column" ng-cloak>

    <md-toolbar class="md-warn md-hue-2">
        <div class="md-toolbar-tools">

            <!--<md-button ng-click="gotoElement('navbar-top')" aria-label="Top">Top</md-button>-->
            <h2><span>{{formData.title}}</span></h2>

            <span flex></span>

        </div>
    </md-toolbar>

    <md-content layout-margin layout-padding>
        <form name="formData.form" id="detailForm" class="md-inline-form" ng-submit="submit()">

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input name="employeeNo" ng-model="formData.staff.employeeNo" placeholder="Employee No" required>
                    <div ng-messages="formData.form.employeeNo.$error" ng-show="formData.form.employeeNo.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input name="firstName" ng-model="formData.staff.firstName" placeholder="First name" required>
                    <div ng-messages="formData.form.firstName.$error" ng-show="formData.form.firstName.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm></div>

                <md-input-container class="md-block" flex-gt-sm>
                    <input name="lastName" ng-model="formData.staff.lastName" placeholder="Last name" required>
                    <div ng-messages="formData.form.lastName.$error" ng-show="formData.form.lastName.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input name="tenureDate" ng-model="formData.staff.tenureDate" type="date" placeholder="Tenure date" class = "noBrowserPicker">
                    <div ng-messages="formData.form.tenureDate.$error" ng-show="formData.form.tenureDate.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>
                <md-datepicker ng-model="formData.staff.tenureDate"></md-datepicker>

                <div flex="5" hide-xs hide-sm></div>

                <md-input-container class="md-block" flex-gt-sm>
                    <input name="contApptDate" ng-model="formData.staff.contApptDate" type="date" placeholder="Cont' appointment date" class = "noBrowserPicker">
                    <div ng-messages="formData.form.contApptDate.$error" ng-show="formData.form.contApptDate.$touched">
                        <div ng-messages-include="/components/validate/messages.html"></div>
                    </div>
                </md-input-container>
                <md-datepicker ng-model="formData.staff.contApptDate"></md-datepicker>
            </div>

            <div layout="row">
                <md-button type="submit" class="md-primary" ng-disabled="formData.form.$invalid"> Submit </md-button>
                <md-progress-circular md-mode="{{formData.submit}}"></md-progress-circular>
                <md-button ng-click="cancel()"> Cancel </md-button>

                <div flex hide-xs hide-sm></div>

                <md-progress-circular md-mode="{{formData.delete}}"></md-progress-circular>
                <md-button class="md-warn" ng-show="formData.isEditing" ng-click="delete($event)"> Delete </md-button>
            </div>
        </form>
    </md-content>
</md-content>