#tabset {
    margin: 3em 0.5em 2em 0.5em;
}

#gridTabs md-tabs-canvas {
    height: 64px;
    align-items: center;
}

#gridTabs md-tab-item {
    top: 10px;
}

#gridTabs md-ink-bar {
    top: 62px;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: red !important;
    background-color:red !important;
}
#tabMenu {
    top: 0;
    right: 0;
}