<md-toolbar id="navbar-top" class="md-hue-3 md-whiteframe-1dp" ng-cloak>
    <div class="md-toolbar-tools" flex layout="row">
        <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Left Sidebar">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>

        <div id="searchBox" ng-show="$state.current.data.dataPage" flex-gt-sm="70" flex-sm="60" layout="row" layout-align="start center">
            <md-icon md-font-set="material-icons">search</md-icon>
            <input type="text" ng-model="search.data" ng-change="update(search.data)" placeholder="Search" style="width:100%" aria-label="Search" />
        </div>

        <span flex></span>

        <md-menu-bar>
            <md-menu>
                <md-menu-content>
                    <md-button class="userBtn md-body-2" ng-click="$mdOpenMenu($event)" aria-label="My Profile">
                        <md-content>
                            <span id="username" >
                                <md-icon md-font-set="material-icons">account_circle</md-icon>
                                {{user.firstName}} {{user.lastName}}
                            </span>
                        </md-content>
                    </md-button>
                </md-menu-content>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="application.profile">
                            <md-icon class="smallMargin" md-font-set="material-icons">account_circle</md-icon>
                            My Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon class="smallMargin" md-font-set="material-icons">exit_to_app</md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</md-toolbar>
