#searchBox md-icon {
    margin-left: 0.2em;
}

#searchBox input {
    border-width: 0px;
    border: none;
    margin-left: 0.5em;
}

#searchBox input:focus {
    outline: none;
}

#navbar-top #username {
    margin-left: 4px;
}